body{
  background-color:#4ca4d6;
}

h1{
    color: #141f48;
    text-align: center;
    font-family: cursive;
    text-shadow: 2px 2px 5px #0550ff;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

button {
  background-color: #007bff;
  border: none;
  color: #2339e1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  width: 250px;
}

